<!DOCTYPE html>
<html lang="en" ng-app="Test">
<head>
<meta charset="UTF-8">
<title>ng-modules-autocomplete</title>


<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<!-- Stylesheets -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"href="css/style.css">
<!-- endOfStylesheets -->

<!-- Scripts -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/ngAutocomplete.js"></script>
<!-- endOfScripts -->

</head>
<body>

<div ng-controller="TestCtrl">
  <form id="form" role="form">

    <!-- <div class="form-group move-down">
      <label for="Autocomplete">Generic Autocomplete</label>
      <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" details="details1" options="options1"/>
      </div>
      <div>result: {{result1}}</div>
    <div>details1: {{details1}}</div> -->

    <fieldset>
      <div class="form-group">
      <label for="Autocomplete">CEP</label>
      <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" details="details1" options="options1"/>
      </div>
      <div>result: {{result1}}</div>
      <div>details1: {{details1}}</div>
    </fieldset>

    <fieldset>


      <div class="form-group">
        <label for="addressName">Logradouro</label>
        <input type="text" id="addressName" name="address.name" value="" ng-model="address.name">
      </div>

      <div class="form-group">
        <label for="addressPostalCode">cep</label>
        <input type="text" id="addressPostalCode" name="address.postalCode" value="" ng-model="address.postalCode">
      </div>

      <div class="form-group">
        <label for="addressNumber">Numero</label>
        <input type="text" id="addressNumber" name="address.number" value="" ng-model="address.number">
      </div>

      <div class="form-group">
        <label for="addressNumber">Bairro</label>
        <input type="text" id="addressSublocality" name="address.sublocality"  ng-model="address.sublocality">
      </div>

      <div class="form-group">
        <label for="Autocomplete">Cidade</label>
        <input type="text"  id="addressCity" name="address.city"  ng-model="address.city">
      </div>

      <div class="form-group">
        <label for="addressState">Estado</label>
        <input type="text" id="addressState" name="address.state" ng-model="address.state">
      </div>

      <div class="form-group">
        <label for="addressCountry">País</label>
        <input type="text" id="addressCountry" name="address.country" ng-model="address.country">
      </div>



    </fieldset>









  </form>
</div>


</body>
</html>